#eventsCalendar .navi-heading {
    text-align: center;
    vertical-align: middle;
}

#eventsCalendar .navi-heading h2 {
    display: inline-block;
}

#eventsCalendar .navi-heading .control {
    margin-top: 7px;
}

#eventsCalendar .navi-heading .next {
    float: right;
}

#eventsCalendar .navi-heading .prev {
    float: left;
}

#eventsCalendar #calendar {
    width: 100%;
}

#eventsCalendar #calendar a {
    text-decoration: underline;
    width: 100%;
    height: 100%;
}

#eventsCalendar #calendar tr:nth-child(odd) {
    background-color: #e8e8e8;
}

#eventsCalendar #calendar tr:nth-child(even) {
    background-color: #f2f2f2;
}

#eventsCalendar #calendar tr .calendar-day-head {
    background: #d5d5d5;
    font-weight: bold;
}

#eventsCalendar #calendar tr td {
    text-align: center;
    width: 13.14%;
}

#eventsCalendar #calendar tr td.calendar-day.current-day {
    background-color: #00caff;
    cursor: pointer;
}

#eventsCalendar #calendar tr td.calendar-day.current-day a {
    color: #fff;
    width: 100%;
    height: 100%;
}

.event-items {
    width: 100%;
    height: auto;
    max-height: 200px;
    overflow-y: auto;
}

.event-items .event-item {
    padding: 6px;
}

.event-items .event-item:nth-child(odd) {
    background-color: #e8e8e8;
}

.event-items .event-item:nth-child(even) {
    background-color: #f2f2f2;
}

.event-items .event-item .event-time {
    display: inline-block;
    float: left;
    margin: 0 10px;
}

.event-items .event-item .event-title {
    display: block;
    overflow: hidden;
}

.event-items .event-item .event-title a {
    text-decoration: underline;
}

.event-day-header {
    text-align: center;
    font-weight: bold;
    margin: 10px 0 5px;
    font-size: 140%;
}
