* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(-180deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.table-bordered th,
table tr,
.table-bordered td,
table td {
  border-left: 1px solid #d5d5d5;
  border-top: 1px solid #d5d5d5;
}

#eventsCalendar .navi-heading {
  text-align: center;
  vertical-align: middle;
}
#eventsCalendar .navi-heading h2 {
  display: inline-block;
  text-transform: lowercase;
}
#eventsCalendar .navi-heading .control {
  margin-top: 7px;
}
#eventsCalendar .navi-heading .next {
  float: right;
}
#eventsCalendar .navi-heading .prev {
  float: left;
}
#eventsCalendar #calendar {
  width: 100%;
}
#eventsCalendar #calendar a {
  text-decoration: underline;
  width: 100%;
  height: 100%;
}
#eventsCalendar #calendar tr:nth-child(odd) {
  background-color: #e8e8e8;
}
#eventsCalendar #calendar tr:nth-child(even) {
  background-color: #f2f2f2;
}
#eventsCalendar #calendar tr .calendar-day-head {
  background: #d5d5d5;
  font-weight: bold;
  text-transform: lowercase;
  font-size: 16px;
}
#eventsCalendar #calendar tr td {
  text-align: center;
  width: 13.14%;
}
#eventsCalendar #calendar tr td.calendar-day.has-events {
  background-color: #999;
}
#eventsCalendar #calendar tr td.calendar-day.has-events a {
  color: #fff;
}
#eventsCalendar #calendar tr td.calendar-day.has-events.selected {
  background-color: #4d898f;
}
#eventsCalendar #calendar tr td.calendar-day.has-events.selected a {
  color: #fff;
}
#eventsCalendar #calendar tr td.calendar-day.current-day .day-number {
  font-weight: bold;
}
#eventsCalendar #calendar tr td.calendar-day.current-day a {
  width: 100%;
  height: 100%;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  #eventsCalendar #calendar {
    table-layout: fixed;
    margin: 0 auto;
    min-width: 280px;
  }
}
#eventsCalendar .slick-slider {
  margin-bottom: 12px;
  position: relative;
}
#eventsCalendar .slick-slider .slick-arrow.slick-prev {
  left: 0;
}

.panel-pane.pane-ding-event-calendar-ding-event-calendar .more-link {
  float: right;
}

.event-items {
  width: 100%;
  height: auto;
  max-height: 200px;
  overflow-y: auto;
}
.event-items .event-item {
  padding: 6px;
}
.event-items .event-item:nth-child(odd) {
  background-color: #e8e8e8;
}
.event-items .event-item:nth-child(even) {
  background-color: #f2f2f2;
}
.event-items .event-item .event-time {
  display: inline-block;
  float: left;
  margin: 0 10px;
}
.event-items .event-item .event-title {
  display: block;
  overflow: hidden;
}
.event-items .event-item .event-title a {
  text-decoration: underline;
}

.event-day-header {
  text-align: center;
  font-weight: bold;
  margin: 10px 0 5px;
  font-size: 140%;
}
