$list-item-background-color-odd: #e8e8e8 !default;
$list-item-background-color-even: #f2f2f2 !default;
#eventsCalendar {

  .navi-heading {
    text-align: center;
    vertical-align: middle;
    h2 {
      display: inline-block;
    }
    .control {
      margin-top: 7px;
    }
    .next {
      float: right;
    }
    .prev {
      float: left;
    }
  }

  #calendar {
    width: 100%;
    a {
      text-decoration: underline;
      width: 100%;
      height: 100%;
    }

    tr {
      &:nth-child(odd) {
        background-color: $list-item-background-color-odd;
      }

      &:nth-child(even) {
        background-color: $list-item-background-color-even;
      }

      .calendar-day-head {
        background: #d5d5d5;
        font-weight: bold;
      }

      td {
        &.calendar-day.current-day {
          background-color: #00caff;
          cursor: pointer;

          a {
            color: #fff;
            width: 100%;
            height: 100%;
          }
        }

        text-align: center;
        width: 13.14%;
      }
    }
  }
}

.event-items {
  width: 100%;
  height: auto;
  max-height: 200px;
  overflow-y: auto;

  .event-item {
    padding: 6px;

    &:nth-child(odd) {
      background-color: $list-item-background-color-odd;
    }

    &:nth-child(even) {
      background-color: $list-item-background-color-even;
    }

    .event-time {
      display: inline-block;
      float: left;
      margin: 0 10px;
    }

    .event-title {
      display: block;
      overflow: hidden;

      a {
        text-decoration: underline;
      }
    }
  }
}

.event-day-header {
  text-align: center;
  font-weight: bold;
  margin: 10px 0 5px;
  font-size: 140%;
}

#eventsCalendar .navi-heading .prev {
  border-radius: 50px;
  background-color: #00CAFE;
  color: #fff;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  line-height:0;

  &:hover{
    text-decoration: none;
  }

  &:after {
    display: block;
    text-indent: -2px;
    line-height: 30px;
    content: '\f053';
    text-align: center;
    font-family: 'FontAwesome';
  }
}

#eventsCalendar .navi-heading .next {
  border-radius: 50px;
  background-color: #00CAFE;
  color: #fff;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  line-height:0;

  &:hover{
    text-decoration: none;
  }

  &:after {
    display: block;
    text-indent: 2px;
    line-height: 30px;
    content: '\f054';
    text-align: center;
    font-family: 'FontAwesome';
  }
}
